* {
  font-family: "Proxima Nova";
}

body {
    background-color: #77B7D0;
}

#banner-text {
    padding: 0 30px;
    padding-bottom: 6px;
    margin: 15px 0;
    background-color: #B9E3F4;
    border-radius: 6px;
    color: #FCC907;
    font-weight: bolder;
    font-size: 2.8em;
    -webkit-text-stroke: 0.4px black;
}

#cw-logo {
    padding: 6px 8px;
    border-radius: 6px;
}

#score, #time {
    font-size: 2.4em;
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 12px;
    padding-bottom: 6px;
    background-color: #B9E3F4;
    border-radius: 6px;
    transition: ease-in-out
}

#reset-button:hover, #pause-button:hover {
  cursor: pointer;
}

#game-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 72px);
  grid-template-rows: repeat(7, 72px);
  gap: 3px;
}

#game-wrapper img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

#game-section img {
  max-width: 100%;
  max-height: 100%;
  margin: 2px;
  border: white 2px solid;
}

#game-section .noborder-tile {
  border: none;
}

#gameStartModalBody h2 {
  padding-top: 2%;
  text-align: center;
}

#gameStartModalHeader {
  font-size: 2rem;
}

#modalHeader {
  margin-top: 10px;
}

.modal-pg {
  padding: 0px 40px;
  font-size: 1.2em;
}

#currentScore {
  margin-bottom: 15px;
}

#finalScore {
  margin-top: 12px;
}

#lastLevelModalBody p {
  margin-top: 12px;
}

#resetGameModalBody, #pauseGameModalBody, #nextLevelModalBody, 
#lastLevelModalBody, #lostModalBody {
  text-align: center;
}

#nextLevelModalBody {
  margin-top: 12px;
}

#lostModalBody {
  margin-top: 10px;
}

#pauseGameModalBody {
  margin-top: 10px;
}

.modal-header {
  justify-content: center;
}

.modal-footer {
  justify-content: center;
}

.modal-position {
  margin-top: 17vh;
}

.footer-area {
  width: 600px;
  background:#B9E3F4;
  border-radius: 6px;
}

.footer-area a {
  color: #00202d;
  font-size: 1.3em;
  text-decoration: none;
  background: #d9f4ff;
  padding: 3px 2px;
  border-radius: 4px;
  border: 1px solid #a8baf1;
  white-space: nowrap;
  transition: 0.12s ease-in-out;
}

.footer-area a:hover {
  background: #a8d8f1; 
  border-color: #7da6e0; 
}

.btn {
  font-size: 1.8em;
  background-color:#ffd849;
  border: 1px solid #fffed9;
  color: #000000;
}

.btn:hover {
  background-color:#ffd849;
  border: 1px solid #4a4a4a;
  color: #000000;
}

.tile-focused img {
  outline: 3.5px solid #ffd849;
  outline-offset: -2px;
  background: #8ad7f6;
}

#cw-logo {
    height: 60px;
}
#reset-button, #pause-button {
    max-height: 72px;
}

#resetGameModalBody h2 {
  padding-top: 5px;
}

.p_text {
    font-size: 1.2em;
}

#lastScoreMilestone, #milestoneSection {
  font-weight: bold;
}

#lastScoreMilestone {
  margin-bottom: 0px;
}

@media (min-width: 576px) and (max-width: 992px) {
  #cw-logo {
    height: 48px;
  }
  #reset-button, #pause-button {
    height: 61px;
  }
  #score, #time {
    font-size: 2.1em;
  }
  .footer-area{
    max-width: 600px;
    width: 80%;
  }
}

@media (max-width: 575.9px) {
  .h_text {
    font-weight: bold;
    font-size: 2.1em;
  }
  .p_text {
    font-size: 1.2em;
  }
  #cw-logo {
    height: 40px;
  }
  #reset-button, #pause-button {
    height: 57.2px;
  }
  #banner-text {
    font-size: 2.2em;
  }
  #score, #time {
    font-size: 1.8em;
  }
  #game-wrapper {
    grid-template-columns: repeat(5, 70px);
    grid-template-rows: repeat(7, 70px);
  }
  .footer-area {
    width: 90%;
  }
}